<div class="container">
  <div class="d-flex justify-content-center">
    <div class="btn btn-outline-primary btn-lg mt-3" *ngIf="!loading" (click)="onLoginClick()" style="width:250px">Login via Telegram</div>
  </div>

  <div *ngIf="loading">
    <div class="fs-1 text-center">
      Loading...
    </div>
    <div class="d-flex justify-content-center">
      <div class="fs-1 text-center">
        {{exp_minutes}}
      </div>
      <div class="fs-1 text-center">
        :
      </div>
      <div class="fs-1 text-center">
        {{exp_seconds}}
      </div>
    </div>
    

    <div class="d-flex justify-content-center mt-2">
      <div class="btn btn-outline-dark" (click)="onRefreshClick()">
        Refresh
      </div>
    </div>
  </div>
  
</div>
