.map {
  //height: 100%;
  //width: 100%;
  padding: 0;
  resize: both;
  min-height: 200px;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  cursor: default;
}

/*.leaflet-grab {
  cursor: auto;
}

.leaflet-dragging .leaflet-grab {
  cursor: move;
}*/
